.box{
  width : 200px;
  height : 200px;
  border : 1px solid;
  text-align: center;
  font-size: 30px;
  box-shadow: 5px 5px 5px 5px gray;
}
.box1{
  width : 200px;
  height : 200px;
  border : 1px solid;
  text-align: center;
  font-size: 30px;
  text-shadow: 5px 5px 5px gray;
}
.box2{
  width : 150px;
  height: 150px;
  text-align: center;
  font-size: 25px;
  background-color: coral;
  transition-property: transform;
  transition-duration: 5s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.box2:hover{
  transform: rotate(360deg);
}

.box3{
  width : 150px;
  height: 150px;
  text-align: center;
  font-size: 25px;
  background-color: rgb(24, 206, 94);
  transition-property: transform;
  transition-duration: 5s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.box3:hover{
  transform: translate(500px);
  /* transform: translateY(500px); */
}

.box4{
  width : 150px;
  height: 150px;
  text-align: center;
  font-size: 25px;
  background-color: rgb(238, 216, 18);
  transition-property: width;
  transition-duration: 5s;
  transition-timing-function: linear;
  transition-delay: 2s;
}
.box4:hover{
  width :400px;
}
